*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', serif;
    background-color: #FFFFFF;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.sidebar{
    position: fixed;
    height: 100vh;
    color: white;
    width: 20%;
    min-width: 20ch;
    background-color: #FF9E9E;
    display: flex;
    flex-direction: column;
}
.sidebar-header{
    height: 10%;
    padding: 1em 1em 1em 1em;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-family: 'Poetsen One', sans-serif;
    font-size: 0.8rem;
}
.sidebar-header svg{
    display: none;
}
.sidebar-header ul{
    display: inline-flex;
    list-style: none;
    align-items: center;
    gap: 1em;
}
.sidebar-header svg{
    margin-left: 0.5em;
}
.header-separator{
    border: 1px solid white;
}
.menu{
    height: 75%;
    padding: 1.5em;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    margin: 1.5em 0;
    display: flex;
    align-items: center;
    color: #FFCECE;
}
.menu ul li .dropdown-icon{
    margin-left: 1.5em;
}
.menu ul li .dropdown-icon:hover{
    cursor: pointer;
}
.menu ul li .active{
    color: white;
}
.menu ul li h2{
    margin-left: 1em;
    font-size: 1rem;
}
.menu ul li a{
    text-decoration: none;
    color:#FFCECE;
}
.menu .booking-dropdown{
    display: none;
    margin-left: 20%;
}
.menu .booking-dropdown li{
    margin: 0.7em 0 0.7em 0;
}
.menu .booking-dropdown a{
    text-decoration: none;
}
.menu .booking-dropdown a:link{
    color: #FFCECE;
}
.logout{
    height: 15%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.5em 0 1.5em;
    gap: 1em;
}
.logout h2{
    font-size: 1rem;
}
.logout a{
    text-decoration: none;
    color: white;
}
.page-container{
    width: 80%;
    margin-left: 20%;
    padding: 5em 3em 0 2em;
}
.page-container h1{
    font-size: 2rem;
    color: black;
}
.page-container p{
    color: #5B5B5B;
}
.content-container{
    width: 100%;
    min-height: 80ch;
    height: 100%;
    max-height: 120ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
.top-container{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.top-services{
    width: 100%;
    height: auto;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.left-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.today-appointments{
    width: 40%;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 1em;
}
.today-appointments .header{
    display: inline-flex;
    align-items: center;
    justify-content: baseline;
    gap: 0.5em;
}
.today-appointments .header h2{
    font-size: 1.2rem;
    color: #FF9E9E;
}
.today-appointments .card{
    width: 100%;
    height: 8ch;
    background-color: #F5F6FA;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.today-appointments .card .info{
    width: 80%;
}
.today-appointments .card .info p{
    font-size: 0.7rem;
    font-weight: 300;
}
.today-appointments .card .info h3{
    font-size: 0.8rem;
    color: black;
}
.today-appointments .card .price{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sales-revenue{
    width: 100%;
    height: 70%;
    background-color: white;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.sales-text{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2.5em 0 3em 2.5em;
}
.sales-graph{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 2.5em 0;
}
.sales-text .text-line{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 0.5em;
}
.sales-text p{
    font-size: 0.8rem;
    font-weight: 500;
}
.sales-text h2{
    font-size: 1.2rem;
    color: #FF9E9E;
}
.sales-text h3{
    font-size: 0.9rem;
    color: #757575;
}
.sales-text h1{
    font-weight: 900;
    letter-spacing: 2px;
}
.appointments-stats-container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
}
.appointment-stats{
    flex-shrink: 1;
    flex-basis: 33%;
    min-width: 10ch;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: white;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1em;
}
.appointment-stats p{
    font-size: 0.8rem;
}
.appointment-stats .icon{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appointment-stats .stats-text{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.top-services{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.top-services h2{
    font-size: 1.2rem;
    color: #FF9E9E;
}
.top-services p{
    font-size: 0.8rem;
    color: #757575;
}
.top-services .services{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.top-services .services .stats{
    display: inline-flex;
    flex-direction: row;
}
.top-services .services .stats p:last-of-type{
    margin-left: auto;
}
.top-services .services .gray-bar{
    width: 100%;
    height: 1ch;
    background-color: #F4F4F4;
    border-radius: 5px;
}
.progress-gelpolish{
    background-color: #91C7FA;
    height: 1ch;
    border-radius: 5px;
}
.progress-softgel{
    background-color: #FFC943;
    height: 1ch;
    border-radius: 5px;
}
.progress-removal{
    background-color: #FA91BE;
    height: 1ch;
    border-radius: 5px;
}
.progress-regular{
    background-color: #66D575;
    height: 1ch;
    border-radius: 5px;
}

@media (max-width: 1024px){
    .top-container{
        flex-direction: column;
        height: auto;
    }
    .left-container{
        width: 100%;
    }
    .today-appointments{
        width: 100%;
    }
    .page-container{
        margin: auto;
        padding: 6.5em 1em 1em 1em;
    }
    .sidebar{
        flex-direction: row;
        width: 100%;
        height: 10%;
        align-items: center;
    }
    .sidebar:last-child{
        margin-right: auto;
    }
    .sidebar-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar-header svg{
        display: block;
        position: relative;
    }
    .sidebar-header h2{
        display: none;
    }
    .header-separator{
        display: none;
    }
    .menu{
        position: absolute;
        width: 20ch;
        height: 33ch;
        top: 100%;
        display: none;
        justify-content: start;
        background: #FF9E9E;
        padding: 0 0.5em 0 1.5em;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    }
    .menu ul li h2{
        font-size: 0.7rem;
    }
    .booking-dropdown li{
        font-size: 0.7rem;
    }
    .logout{
        width: 100%;
        height: 100%;
        justify-content: end;
        align-items: center;
    }
    .logout svg{
        display: none;
    }
    .logout h2{
        font-size: 0.7rem;
    }
}

@media (max-width:620px){
    .page-container{
        padding: 6.5em 1em 1em 1em;
    }
    .page-container h1{
        font-size: 1.5rem;
    }
    .appointments-stats-container{
        flex-direction: column;
    }
    .stats-text{
        display: flex;
        align-items: center;
    }
    .sales-revenue{
        flex-direction: column;
    }
    .sales-revenue .sales-text{
        width: 100%;
        padding: 2em;
    }
    .sales-graph{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px){
    .page-container{
        padding: 6.5em 1em 1em 0;
    }
}