*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', serif;
    background-color: #FFFFFF;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.sidebar{
    position: fixed;
    height: 100vh;
    color: white;
    width: 20%;
    background-color: #FF9E9E;
    display: flex;
    flex-direction: column;
}
.sidebar-header{
    height: 10%;
    padding: 1.5em 0 1em 0;
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
    font-size: 0.9rem;
}
.header-separator{
    border: 1px solid white;
}
.menu{
    height: 75%;
    padding: 1.5em;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    margin: 1.5em 0;
    display: flex;
    align-items: center;
    color: #FFCECE;
}
.menu ul li .dropdown-icon{
    margin-left: 1.5em;
}
.menu ul li .dropdown-icon:hover{
    cursor: pointer;
}
.menu ul li .active{
    color: white;
}
.menu ul li h2{
    margin-left: 1em;
    font-size: 1rem;
}
.menu ul li a{
    text-decoration: none;
    color:#FFCECE;
}
.menu .booking-dropdown{
    display: block;
    margin-left: 20%;
}
.menu .booking-dropdown li{
    margin: 0.7em 0 0.7em 0;
}
.menu .booking-dropdown a{
    text-decoration: none;
}
.menu .booking-dropdown a:link{
    color: #FFCECE;
}
.logout{
    height: 15%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.5em 0 1.5em;
    gap: 1em;
}
.logout h2{
    font-size: 1rem;
}
.logout a{
    text-decoration: none;
    color: white;
}
.page-container{
    width: 80%;
    margin-left: 20%;
    padding: 5em 3em 0 2em;
}
.page-container h1{
    font-size: 2.5rem;
    color: #FF9E9E;
}
.page-container p{
    color: #5B5B5B;
}
.customer-details{
    display: flex;
    flex-direction: row;
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 1.5em;
    background-color: #FF9E9E;
    border-radius: 9px 0px 0px 9px;
}
.left-container a{
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    font-weight: 200;
}
.avatar{
    margin-top: 3em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    color: white;
    font-size: 1.5rem;
}
.right-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 9px 9px 0px;
    padding: 6em 3em 3em 3em;
}
.details-text{
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: baseline;
}
p .status{
    color: #FFC943;
}
.details-text p h3{
    margin: auto;
    padding: auto;
}
.approve {
    color: #66D575;
}
.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}
button {
    width: 50%;
    padding: 1.1em 3em;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.approve {
    background: #66D575;
    color: white;
}
.reject {
    background: #e74c3c;
    color: white;
}
